@media all and (max-width: 991px) {
  .example-header .container {
    width: 100%;
  }

  #search {
    padding: 10px;
  }

  .spinner-master * {
    transition: all 0.3s;
    box-sizing: border-box;
  }

  .spinner-master label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 18px;
    width: 18px;
    top: 30px;
    right: 50%;
    transition: all 0.3s ease;
  }

  .spinner-master .spinner {
    position: absolute;
    height: 2px;
    width: 100%;
    padding: 0;
    background-color: #1f1f1f;
  }

  .spinner-master .diagonal.part-1 {
    position: relative;
  }

  .spinner-master .horizontal {
    position: relative;
    margin-top: 4px;
  }

  .spinner-master .diagonal.part-2 {
    position: relative;
    margin-top: 4px;
  }

  .spinner-master input[type='checkbox']:checked ~ .spinner-spin > .horizontal {
    opacity: 0;
  }

  .spinner-master
    input[type='checkbox']:checked
    ~ .spinner-spin
    > .diagonal.part-1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 10px;
  }
  .spinner-master .spinner-spin.active {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 18px;
    width: 18px;
    top: 15px;
    right: 15px;
    transition: all 0.3s ease;
  }
  .spinner-master .spinner-spin.active .spinner {
    background-color: white;
  }
  .spinner-master
    input[type='checkbox']:checked
    ~ .spinner-spin
    > .diagonal.part-2 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -8px;
  }

  a.menu-link {
    display: block;
    color: #fff;
    float: left;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 1.5em;
  }

  a.menu-link:hover {
    color: #1881c1;
  }

  a.menu-link:after {
    content: '\2630';
    font-weight: normal;
  }

  a.menu-link.active:after {
    content: '\2715';
  }

  .menu {
    clear: both;
    min-width: inherit;
    float: none;
  }

  .menu,
  .menu > ul ul {
    overflow: hidden;
    max-height: 0;
    background-color: #39484d;
  }

  .menu > li > ul.sub-menu {
    padding: 0px;
    border: none;
  }

  .menu.active,
  .menu > ul ul.active {
    max-height: 55em;
    padding-top: 35px;
  }

  .menu ul {
    display: inline;
  }

  .menu li,
  .menu > ul > li {
    display: block;
  }

  .menu > ul > li:last-of-type a {
    border: none;
  }

  .menu li a {
    color: #fff;
    display: block;
    padding: 0.8em;
    position: relative;
  }

  .menu li.has-submenu > a:after {
    content: '+';
    position: absolute;
    top: 12px;
    right: 15px;
    display: block;
  }

  .menu li.has-submenu > a.active:after {
    content: '-';
  }

  .menu ul li.hover > a {
    background: #4b5f65;
    color: #fff;
  }

  .menu ul ul,
  .menu ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    border: none;
  }

  .search_box {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
  }

  .search_box input {
    width: 70%;
  }

  .search_box input.search_icon {
    width: 17%;
  }

  #hero {
    height: 200px;
  }
}
.spinner-master {
  display: none;
}
.nav_wrapper {
  position: unset !important;
}
#spinner-form {
  display: none;
}
