@media (max-width: 1199px) {
  .for-full-withmenu .actions-header > div,
  .top-menu .navigation ul li.fullwidth {
    margin-right: 15px;
  }
  .for-full-withmenu .actions-header .register-login a.creat,
  .for-full-withmenu .actions-header .register-login a.login {
    padding: 12px 10px;
  }
  .login_fb_g a,
  .login_fb_g a.login_fb {
    padding: 12px 30px;
  }
  .footer_top > div.hotline a {
    font-size: 18px;
  }
  .info_student .info {
    padding: 14px 18px;
  }
  .info_student .info .info_des h3 {
    font-size: 14px;
  }
  .block-content form .field {
    display: block;
  }
  .block-content form .field .label {
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .footer_top > div.hotline a {
    font-size: 16px;
  }
  .login_fb_g span,
  .login_fb_g a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  .login_fb_g a:last-child {
    margin-bottom: 0;
  }
  .nested .captcha-reload {
    margin-top: 15px;
    margin-left: 0;
  }
  .no-scroll {
    top: 0;
    z-index: 1;
  }
  .menu {
    width: 100%;
    height: auto;
    background: #2f3b3f;
    transition: all 0.3s ease;
  }

  .top-menu .navigation ul li.fullwidth {
    display: block;
  }
  .top-menu .navigation ul li a {
    color: white;
  }

  .top-menu .navigation ul li .sub-menu {
    position: unset;
    background: transparent;
    width: auto;
    display: none;
    border: 1px solid transparent;
  }
  .top-menu .navigation ul li .sub-menu.active {
    display: block;
  }
  .top-menu .navigation ul li .sub-menu li {
    padding: 0 15px;
  }
  .nav_wrapper {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    transition: top 0.5s ease-out;
  }
  .for-full-withmenu .sections.nav-sections {
    flex: none;
  }
  .spinner-master {
    display: block;
  }
  .nav_wrapper.scroll {
    display: none;
  }
  .top-menu .navigation ul li .sub-menu li.menu-item-has-children > a:after {
    content: '\f107';
  }
  .top-menu
    .navigation
    ul
    li
    .sub-menu
    li.menu-item-has-children
    > a.active:after,
  .top-menu .navigation ul li.menu-item-has-children > a.active:after {
    content: '\f105';
  }
  .top-menu .navigation ul li > .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .nested .captcha-reload {
    margin-top: 0;
    margin-left: 10px;
  }
  .footer_top {
    display: block;
  }
  .footer_top > div {
    margin-bottom: 15px;
  }
  .footer_top > div.hotline {
    text-align: left;
  }
  .info_student {
    margin-bottom: 30px;
  }
  .fr_dk {
    text-align: center;
  }

  .fr_dk .block {
    margin-top: 20px;
  }
  .for-full-withmenu .col-logo {
    flex-basis: 30%;
  }
  /* .spinner-master label {
    right: 305px;
  } */
  .login_fb_g span {
    margin-right: 0;
  }
  .acountsuccess a {
    display: none;
  }
  .info_student .acountsuccess a {
    display: block;
    text-align: center;
    display: block;
    margin-top: 1rem;
    margin-right: unset;
    box-shadow: 0px 4px 6px 0px #efe8e8;
  }
  .login_success .info_student .acountsuccess {
    display: block;
  }
}
@media (max-width: 480px) {
  .for-full-withmenu {
    display: flex;
  }
  .for-full-withmenu .col-logo {
    display: inline-block;
    text-align: center;
    flex: none;
    /* margin-bottom: 20px; */
    /* margin-top: 10px; */
    margin-left: 3rem;
  }
  .for-full-withmenu .sections.nav-sections {
    order: -1;
  }
  .nav_wrapper {
    top: unset;
  }

  .spinner-master label {
    /* right: auto; */
    /* left: 15px; */
    /* top: 110px; */
    position: unset;
    margin: 0 1rem;
  }
  .spinner-master {
    /* border: 1px solid; */
    display: inline-block;
    /* position: unset; */
  }

  .spinner-master .spinner-spin.active {
    left: auto;
    right: 15px;
    top: 4rem;
  }
  .menu.active {
    z-index: 98;
    position: relative;
    margin-top: 1.5rem;
  }
  .label {
    white-space: unset;
  }
  .block_activeacount {
    padding: 25px;
  }
  .nested .captcha-reload {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .for-full-withmenu .actions-header .register-login a.creat,
  .for-full-withmenu .actions-header .register-login a.login {
    padding: 10px 6px;
  }
  .actions-toolbar {
    display: block;
  }
  .actions-toolbar .primary {
    flex: none;
    text-align: center;
    margin-top: 15px;
  }
  .login_fb_g {
    margin-top: 55px;
  }
}
