html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}
#wraper {
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.for-full-withmenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.for-full-withmenu .bell {
  position: relative;
}
.for-full-withmenu .bell .notify {
  position: absolute;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 70%;
  background: #ef3131;
  color: white;
  top: -5px;
  right: -6px;
}
.header-container {
  box-shadow: 0px 5px 5px 0 #f1f1f1;
}
.for-full-withmenu .col-logo {
  flex-basis: 10%;
}
.for-full-withmenu .sections.nav-sections {
  flex: 2 1 0;
  z-index: 99;
}
.for-full-withmenu .actions-header {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 0;
}
.top-menu .navigation ul {
  margin: 0;
}
.top-menu .navigation ul li.fullwidth {
  display: inline-block;
  margin-right: 35px;
}
.top-menu .navigation ul li {
  position: relative;
  list-style: none;
}
.top-menu .navigation ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #1f1f1f;
  font-family: 'Maven Pro', sans-serif;
}
.top-menu .navigation ul li .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  border: 1px solid #e6e6e6;
  padding: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 200px;
  border-radius: 3px;
}
.top-menu .navigation ul li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.top-menu .navigation ul li .sub-menu li {
  padding: 10px 15px;
}
.top-menu .navigation ul li .sub-menu > li:hover .sub-menu {
  left: 100%;
  top: 10px;
}
.top-menu .navigation ul li.menu-item-has-children > a:after {
  content: '\f107';
  font-family: fontawesome;
  margin-left: 5px;
}
.top-menu .navigation ul li .sub-menu li.menu-item-has-children > a:after {
  content: '\f105';
  font-family: fontawesome;
  right: 15px;
  top: 12px;
  position: absolute;
  font-size: 14px;
}
.for-full-withmenu .actions-header > div {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
.for-full-withmenu .actions-header .mini_cart a:before {
  content: '\f07a';
  font-family: 'FontAwesome';
  font-size: 16px;
  color: #332121;
}
.for-full-withmenu .actions-header .wishlist a:before {
  content: '\f004';
  font-family: FontAwesome;
  font-size: 16px;
  color: #555;
}
.for-full-withmenu .actions-header .bell a:before {
  content: '\f0f3';
  font-family: 'FontAwesome';
  font-size: 16px;
  color: #332121;
}
.for-full-withmenu .actions-header .register-login a.login {
  padding: 12px 15px;
  color: #838383;
  border: 1px solid #1f1f1f;
  background: white;
  border-radius: 5px;
  margin-right: 5px;
}
.for-full-withmenu .actions-header .register-login a.login:hover {
  background: #1881c1;
  border-color: #1881c1;
  color: white;
}
.for-full-withmenu .actions-header .register-login a.creat {
  padding: 12px 15px;
  color: white;
  border: 1px solid #1881c1;
  background: #1881c1;
  border-radius: 5px;
}
.footer_top {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 0;
}
.footer_top {
  padding: 25px 0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.footer_top > div {
  flex: 1 1 0;
}
.footer_top > div a {
  font-size: 18px;
  font-weight: 500;
  color: #14acac;
}
.footer_top > div.hotline {
  text-align: right;
}
.footer_top > div.hotline a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  background: #f5413a;
  border-radius: 30px;
  padding: 10px 25px;
  position: relative;
}
.footer_top > div.hotline a:before {
  content: '\f1ac';
  margin-right: 8px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  font-family: fontawesome;
}
.footer_content h4 {
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 700;
  margin: 38px 0 10px 0;
}
.footer_content ul li {
  line-height: 22px;
}
.footer_content ul li a {
  font-size: 13px;
  color: #5d5d5d;
}
.social-link ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.social-link ul li a span {
  font-size: 11px;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
}
.social-link ul li a span.fa-facebook {
  background: #162675;
}
.social-link ul li a span.fa-twitter {
  background: #17b8ff;
}
.social-link ul li a span.fa-dribbble {
  background: #d6293b;
}
.footer-copyright {
  background: #0b51b1;
}
.footer-copyright {
  color: white;
  text-align: center;
  padding: 25px;
}
.fr_dk {
  margin: 80px 0;
}

.block-customer-login {
  padding: 34px 28px;
  background: #f7f8fa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.block-customer-login .block-title strong {
  font-size: 24px;
  color: #1f1f1f;
  margin-bottom: 30px;
  display: block;
}
.block-content form .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.block-content form .field:last-child {
  margin-bottom: 0;
}
.block-content form .field .label {
  font-size: 14px;
  font-weight: 700;
  color: #1f1f1f;
  margin: 0;
  flex-basis: 30%;
  text-align: left;
  padding: 0;
}
.block-content form .field .control {
  width: 100%;
}
.block-content form .field .control input {
  padding: 12px 15px;
  border: 1px solid #dbdbdb;
  width: 100%;
}
.actions-toolbar {
  display: flex;
  align-items: center;
}
.actions-toolbar .secondary a {
  font-size: 14px;
  font-weight: 700;
  color: #1f1f1f;
}
.actions-toolbar .secondary a.create {
  color: #14acac;
}
.actions-toolbar .secondary a.remind {
  color: #666;
}
.actions-toolbar .primary {
  flex: 1 1 0;
  text-align: right;
}
.actions-toolbar .primary button {
  padding: 12px 25px;
  background: #14acac;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  line-height: 1;
}
.login_input {
  padding-bottom: 25px;
  margin-bottom: 45px;
  border-bottom: 1px solid #dbdbdb;
}
.login_fb_g {
  margin: 75px 0 25px 0;
}
.login_fb_g span {
  font-weight: 700;
  font-size: 14px;
  color: #1f1f1f;
  margin-right: 12px;
}
.login_fb_g a {
  font-size: 14px;
  font-weight: 700;
  color: white;
  padding: 12px 70px;
  border-radius: 5px;
  margin-left: 8px;
}
.login_fb_g a.login_fb {
  background: #0b51b1;
  padding: 12px 65px;
}
.login_fb_g a.login_g {
  background: #ef3131;
}
::placeholder {
  color: #adadad;
}
.text_des {
  margin-bottom: 25px;
  color: #1f1f1f;
}
.actions-toolbar.changepassword,
.actions-toolbar.forgotpassword {
  display: block;
}
.actions-toolbar.changepassword .primary,
.actions-toolbar.forgotpassword .primary {
  flex: none;
  text-align: right;
}
.nested {
  text-align: center;
  margin: 35px 0;
}
.nested .captcha-reload {
  padding: 12px 25px;
  background: #14acac;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  line-height: 1;
  margin-left: 10px;
}
.block-content form .forgotpassword_input .field {
  display: block;
}
.block-content form .forgotpassword_input .field .label {
  margin-bottom: 10px;
  display: block;
}
.info_student {
  border: 1px solid #dbdbdb;
  background: #f7f8fa;
  border-radius: 5px;
}
.info_student .info {
  display: flex;
  align-items: center;
  padding: 22px 24px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.info_student .info .photo {
  flex-basis: 25%;
}
.info_student .info .info_des {
  padding-left: 15px;
}

.info_student .info .info_des h3 {
  font-weight: 700;
  font-size: 18px;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 5px;
}
.info_student .info .info_des .student {
  font-weight: 400;
  font-size: 14px;
  color: #1f1f1f;
}

.info_student .list_info li {
  padding: 12px 20px;
}
.info_student .list_info li {
  color: #1f1f1f;
}
.info_student .list_info li:hover {
  border-left: 4px solid #14acac;
  background: #e0f1f3;
}
.info_student .list_info li a {
  color: #1f1f1f;
}
.info_student .list_info li:hover a {
  color: #14acac;
  font-weight: 700;
}
.footer_content {
  margin-bottom: 32px;
}
.block_activeacount {
  text-align: center;
  max-width: 800px;
  padding: 34px 28px;
  background: #f7f8fa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 18px 65px 36px 65px;
  margin: auto;
}
.block_activeacount .block-title h3 {
  font-size: 24px;
  color: #1f1f1f;
  margin-bottom: 30px;
  display: block;
  margin-top: 2px;
}
.top-menu .navigation ul li .sub-menu li .sub-menu {
  left: 100%;
}
.block-content form .active_input .field {
  display: block;
}
.block-content form .active_input .field .label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
.block-content form .active_input .field .control input {
  text-align: center;
  border: 2px solid #14acac;
}
.block-content form .active_input .field .control input::placeholder {
  color: #14acac;
}
.actions-toolbar.activeacount {
  margin-top: 20px;
}
.actions-toolbar.activeacount .primary {
  text-align: center;
}

.nav_wrapper.scroll {
  position: fixed !important;
  background: white;
  border-bottom: 1px solid #eee;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  padding: 25px;
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: anim_titles;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
}

.acountsuccess {
  display: flex;
  align-items: center;
}
.acountsuccess a {
  font-weight: 500;
  font-size: 18px;
  color: #1f1f1f;
  margin-right: 8px;
}
.acountsuccess img {
  width: 30px;
}
.login_success .info_student {
  display: none;
  position: absolute;
  top: 115%;
  right: 0;
  z-index: 99;
  width: 250px;
  background: white;
  border: none;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
}
.login_success .info_student .acountsuccess {
  display: none;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 3px 4px 0 #efe8e8;
}

.login_success .info_student .info {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 0;
  border: none;
}
.logout_ss {
  margin: 0 22px;
  border-top: 1px solid #dbdbdb;
  padding: 12px 0;
}
.logout_ss a {
  color: #1f1f1f;
}
